# Base Vagrant box name
LAB_BASE_BOX=generic/rhel9

# Lab DNS domain
LAB_DOMAIN=lab.example.com

# Lab network base (CIDR)
LAB_NET=192.168.56.0/24
LAB_GATEWAY=192.168.56.1

# Controller + nodes IPs
LAB_CONTROLLER_IP=192.168.56.10
LAB_REPOSERVER_IP=192.168.56.11
LAB_SERVERA_IP=192.168.56.21
LAB_SERVERB_IP=192.168.56.22
LAB_SERVERC_IP=192.168.56.23
LAB_SERVERD_IP=192.168.56.24
LAB_SERVERE_IP=192.168.56.25

# Lab users
LAB_ANSIBLE_USER=ansi_user
LAB_TEST_USER=test_user
LAB_DEFAULT_PASSWORD=redhat
